<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Highest Paid Billionaires</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='static/style.css'>
    <script src='main.js'></script>
</head>
<body><!--Provides the ranking of five billionaires -->
    <div>
        <table>
        <h1>Forbes Highest paid Billionaires for 2021!</h1>
        <p>1: <b>Jeff Bezos</b></p>
            <p>Net Worth: <b>$177 Billion</b></p>
            <p>Source of Wealth: <b> Amazon</b></p>
            <p>Residence: <b> Washington, Seattle</b></p>
            <img src="static/jeffbezos.png">
        </table>
        <hr><!-- Images were save to a png files within static folder-->
        <p>2: <b>Elon Musk</b></p>
            <p>Net Worth: <b> $151 Billion</b></p>
            <p>Source of Wealth: <b> Tesla SpaceX</b></p>
            <p>Residence: <b> Austin, Texas</b></p>
            <img src="static/elonmusk.png">
        <hr>
        <p>3: <b>Bernard Arnault</b></p>
            <p>Net Worth: <b> $150 Billion</b></p>
            <p>Source of Wealth: <b> Luxury Goods</b></p>
            <p>Residence: <b> Paris, France</b></p>
            <img src="static/bernardarnault.png">
        <hr>
        <p>4: <b>Bill Gates</b></p>
            <p>Net Worth: <b> $124 Billion</b></p>
            <p>Source of Wealth: <b> Microsoft</b></p>
            <p>Residence: <b> Medina, Washington</b></p>
            <img src="static/billgates.png">
        <hr>
        <p>5: <b>Mark Zuckerberg</b></p>
            <p>Net Worth: <b> $97 Billion</b></p>
            <p>Source of Wealth: <b> Facebook</b></p>
            <p>Residence: <b> Palo Alto, California</b></p>
            <img src="static/markzukerberg.png">
        <br>
        <br>
        <br>
        <br>
    <footer>
        <ul>
            <li><a href="company">company</a></li>
            <li><a href="home">home</a></li>
        </ul>
        <p id="time">
            <script>
                document.getElementById("time").innerHTML = Date();
            </script>
        </p><!--Date and time written in Javascript -->

    </footer>
</body>
</html>