<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Company Profiles</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='static/style.css'>
    <script src='main.js'></script>
</head>
<body>
    <div><!--Heading h1 & h3 sizing -->
        <h1>What Companies Made the Top Five Billionaires?</h1>
        <ul><!--External web sites that open new browser window-->
        <h3><b><a href="https://amzn.to/3EQT2pT" target = "blank">Amazon</a></b></h3>
            <li>Amazon revenue for the quarter ending June 30, 2021 was 
                $113.080B, a 27.18% increase year-over-year.</li>
            <li>Amazon revenue for the twelve months ending June 30, 
                2021 was $443.298B, a 37.76% increase year-over-year.</li>
            <li>Amazon annual revenue for 2020 was $386.064B, a 37.62% increase from 2019.</li>
        </ul>
        <hr>
        <ul>
        <h3><b><a href="https://www.tesla.com/" target = "blank">Tesla SpaceX</a></b></h3>
            <li>SpaceX completed an equity funding round of $850 million last week, 
                people familiar with the financing told CNBC, 
                sending the company’s valuation to about $74 billion.</li>
            <li>The company raised the new funds at $419.99 a share, 
                those people said, or just 1 cent below the 
                $420 price that Elon Musk made infamous in 2018.</li>
        </ul>
        <hr>
        <ul><!--Unorganized listing-->
        <h3> <b><a href="https://www.tesla.com/" target = "blank">Louis Vuitton</a></b></h3>
            <li>Moët Hennessy Louis Vuitton (LVMH) is one of the world’s leading luxury groups, 
                parent to 75 luxury houses. Over the past decade, 
                LVMH enjoyed ever-increasing global revenue, reaching over 53 billion euros in 2019.</li>
            <li> In 2020, reflecting the impact of the coronavirus (COVID-19) pandemic on luxury goods, 
                the group’s revenue saw a reduction of around 17 percent, 
                ultimately amounting to 44.6 billion euros for the year.</li>
        </ul>
        <hr>
        <ul>
        <h3> <b><a href="https://www.microsoft.com/en-us/" target = "blank">Microsoft</a></b></h3>
            <li>Microsoft revenue for the quarter ending June 30, 
                2021 was $46.152B, a 21.35% increase year-over-year.</li>
            <li>Microsoft revenue for the twelve months ending June 30, 
                2021 was $168.088B, a 17.53% increase year-over-year.</li>
        </ul>
        <hr>
        <ul>
        <h3> <b><a href="https://www.facebook.com/" target = "blank">Facebook</a></b></h3>
            <li>Facebook revenue for the quarter ending June 30, 
                2021 was $29.077B, a 55.6% increase year-over-year.</li>
            <li>Facebook revenue for the twelve months ending June 30, 
                2021 was $104.789B, a 39.42% increase year-over-year.</li>
        </ul>
        <br>
        <br>
        <br>
        <br>
    <footer>
        <ul>
            <li><a href="about">about</a></li>
            <li><a href="home">home</a></li>
        </ul>
        <p id="time">
            <script>
                document.getElementById("time").innerHTML = Date();
            </script>
        </p><!--Date and time written in Javascript -->

    </footer>
</body>
</html>