<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Highest Paid Billionaires</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='static/style.css'>
    <script src='main.js'></script>
</head>
<body>
    <div>
        <ol><!--Heading h1 & h2 sizing -->
        <h1>Forbes Top 5 Highest paid Billionaires for 2021!</h1>
        <h2>A Rough Successful Year</h2>
        <p><Strong>Despite the pandemic, it was a record- setting year for 
            the worlds wealthiest- with a $5 trillion surge in wealth 
            and an unprecedented number of new Billionaires.</Strong></p>
        <hr>
        <br><!--An organized list of billionaires -->
            <p><li> <b>Jeff Bezos</li></b></p>
            <p><li> <b>Elon Musk</li></b></p>
            <p><li> <b>Bernard Arnault</li></b></p>
            <p><li> <b>Bill Gates</li></b></p>
            <p><li> <b>Mark Zuckerberg</li></b></p>
        </ol>
        <br>
        <br>
        <br>
        <br><!--An organized table of billionaires fun facts -->
        <table border = "1">
            <caption>Billionairs's Fun Facts</caption>
            <thead>
                <tr>
                <th><b>Name</b></th>
                <th><b>Sex</b></th>
                <th><b>Religion</b>></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><b>Jeff Bezos</li></b></td>
                <td><b>Male</li></b></td>
                <td><b>Christian</li></b></td>
            </tr>
            <tr>
                <td><b>Elon Musk</li></b></td>
                <td><b>Male</li></b></td>
                <td><b>atheist</li></b></td>
            </tr>
            <tr>
                <td><b>Bernard Arnault</li></b></td>
                <td><b>Male</li></b></td>
                <td><b>Christian</li></b></td>
            </tr>
            <tr>
                <td><b>Bill Gates</li></b></td>
                <td><b>Male</li></b></td>
                <td><b>Christian</li></b></td>
            </tr>
            <tr>
                <td><b>Mark Zuckerberg</li></b></td>
                <td><b>Male</li></b></td>
                <td><b>Christian</li></b></td>
            </tr>
        </thead>
        </tbody>
        </table>
    <footer>
        <ul>
            <li><a href="about">about</a></li>
            <li><a href="home">home</a></li>
            <li><a href="logout">Logout</a></li>
            <li><a href="updatepass">Update Password</a></li>
            </ul></li>
        <p id="time">
            <script>
                document.getElementById("time").innerHTML = Date();
            </script>
        </p><!--Date and time written in Javascript -->

    </footer>
</body>
</html>